.nav-container {
    background-color: #F7F7F7;
}

.nav-container h4 {
    border-right: 1px solid #000000;
}

.nav-container h4 a {
  color: #000000;
}

li a, .dropbtn {
    color: #000000;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #060606;
    color: #FFFFFF;
}

.dropdown-content {
        background-color: #090909;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #FFFFFF;
}

.dropdown-content a:hover {
  background-color: #F7F7F7;
  color: #000000;
}
